# Build Folders
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio / Rider files
.vs/
.idea/
*.dbmdl

# NuGet
*.nupkg
packages/
.nuget/

# Logs
*.log

# Rider-specific
.idea/
*.iml

# Publish output
publish/
